%li.song
  = link_to song.title, song
  %small
    \-
    = link_to song.composer, songs_path(q: { composer_cont: song.composer })
    - if user_signed_in?
      - if song.recordings.exists?
        %span{ data: { bs_toggle: :tooltip, bs_title: pluralize(song.recordings.count, "Recording") } }
          %i.fa-regular.fa-file-audio.has-recording{ title: pluralize(song.recordings.count, "Recording") }
            = "(#{song.recordings.count})"
      - if song.chords.present?
        %i.fa.fa-music.has-chords{ data: { bs_toggle: :tooltip, bs_title: "Has Chords" }, title: "Has Chords" }
      = link_to edit_admin_song_path(song), class: :edit do
        %i.fa.fa-pencil
