%li.song
  = link_to song.title, song
  %small
    \-
    = link_to song.composer, songs_path(q: { composer_cont: song.composer })
    - if user_signed_in?
      - if song.recordings.exists?
        = fa_icon 'waveform', class: 'fas has-recording'
        = "(#{song.recordings.count})"
      - if song.chords.present?
        = fa_icon 'music', class: 'fas has-chords'
      = link_to fa_icon('pencil'), edit_admin_song_path(song), class: :edit
