%li.song
  = link_to song.title, song
  %small
    - if song.composer.present?
      \-
      - if song.composer.url.present?
        = link_to song.composer.name, songs_path(q: { composer_name_cont: song.composer.name })
      - else
        = song.composer_name
    - if user_signed_in?
      - if song.recordings.exists?
        %span{ data: { bs_toggle: :tooltip, bs_title: pluralize(song.recordings.count, "Recording") } }
          %i.fa-light.fa-waveform.has-recording{ title: pluralize(song.recordings.count, "Recording") }
            = "(#{song.recordings.count})"
      - if song.chords.present?
        %i.fa.fa-music.has-chords{ data: { bs_toggle: :tooltip, bs_title: "Has Chords" }, title: "Has Chords" }
      = link_to edit_admin_song_path(song), class: :edit do
        %i.fa.fa-pencil
