= search_form_for @q do |f|
  .row
    .col-6.offset-3
      .inline-form
        = f.input :categories_id_in, as: :check_boxes, collection: Category.all, label: false
  .row
    .col-6.offset-3
      .input-group
        = f.input_field :title_cont, class: 'form-control', placeholder: 'Search titles...'
        .input-group-append
          = f.button :submit, class: 'btn btn-primary'
          = link_to 'Clear', songs_path, class: 'btn btn-secondary'
.row
  .col
    %h1 Songs!
    %ul.songs
      - @songs.each do |song|
        %li
          = link_to song.title, song
