= search_form_for @q do |f|
  .row
    .col-2.offset-2
      Categories
      = f.input :categories_id_in, as: :check_boxes, collection: Category.all, label: false
    .col-2
      Languages
      = f.input :languages_id_in, as: :check_boxes, collection: Language.all, label: false
    .col-2
      = f.input :chords_present, as: :boolean, label: 'Has Chords'
    .col-2
      = f.input :s, collection: [['Title', 'title asc'], ['Created at', 'created_at desc']], label: 'Sort by', required: false, include_blank: false, selected: songs_sort_value, input_html: { class: 'custom-select' }

  .row
    .col-8.offset-2
      .input-group
        = f.input_field :title_cont, class: 'form-control', placeholder: 'Search titles...'
        .input-group-append
          = f.button :submit, class: 'btn btn-primary'
          = link_to 'Clear', songs_path, class: 'btn btn-secondary'

  .row
    .col-8.offset-2
      = paginate @songs
.row
  .col
    %ul.songs
      - @songs.each do |song|
        %li
          = link_to song.title, song
