.search-strip
  = search_form_for @q, html: { role: 'search', 'aria-label': 'Song search', class: 'search-strip__inner' } do |f|
    = hidden_field_tag :per_page, params[:per_page] if params[:per_page].present?
    .container
      .grid
        .col-8
          .search-form--extended
            = f.label :title_or_lyrics_or_composer_name_cont, 'Search', class: 'sr-only'
            = f.input_field :title_or_lyrics_or_composer_name_cont, id: 'song-search', class: 'search-input', type: 'search', placeholder: t('songs.search_placeholder')
            .form-btns
              = link_to 'Reset Form', songs_path, class: 'clear-btn btn btn--plain'
              = f.button :submit, 'Search Songs', class: 'search-btn btn btn--wide'

        .col-8
          .grid
            .col-8
              .search-form--extended
                .select-shell
                  = f.label :categories_id_in, 'Category', class: 'sr-only'
                  = f.input_field :categories_id_in, collection: @categories, include_blank: 'Category', label_method: :name_and_count, id: 'category', class: 'select--category'
                  %span.arrow--down

                .select-shell
                  = f.label :chords_present, 'Has Chords', class: 'sr-only'
                  = f.input_field :chords_present, collection: [['Yes', true], ['No', false]], include_blank: 'Has Chords', id: 'has-chords', class: 'select--has-chords'
                  %span.arrow--down

            .col-8
              .search-form--extended
                .select-shell
                  = f.label :languages_id_in, 'Language', class: 'sr-only'
                  = f.input_field :languages_id_in, collection: Language.all, include_blank: 'Language', id: 'language', class: 'select--language'
                  %span.arrow--down
                .select-shell
                  = f.label :themes_name_in, 'Theme', class: 'sr-only'
                  = f.input_field :themes_name_in, collection: ActsAsTaggableOn::Tag.for_context(:themes).pluck(:name).uniq.sort, include_blank: 'Theme', id: 'theme', class: 'select--theme', multiple: false
                  %span.arrow--down

%main
  -# Search Results
  %section.section{"aria-label" => "Search Results"}
    .container
      .grid
        .col-16
          .songlist.main-texture{"aria-label" => "Song list"}
            .container
              %header.songlist__head
                %h2.h1.margin--0 Song List
                %p.songlist__meta
                  Showing
                  %strong= @songs.size
                  of
                  %strong= @songs.total_count
                  results. Click column headers to sort.

            .songtable{role: "region", "aria-label" => "Song list table"}
              %table.songtable__table
                %thead
                  %tr
                    %th{scope: "col"}
                      = sort_link(@q, :title, 'Song Title', default_order: :asc, class: 'songtable__sort')
                    %th{scope: "col"}
                      = sort_link(@q, :composer_name, 'Composer Name', class: 'songtable__sort')
                    %th{scope: "col"}
                      = sort_link(@q, :created_at, 'Date Added', default_order: :desc, class: 'songtable__sort')
                    %th{scope: "col"}
                      = sort_link(@q, :languages_name, 'Language', class: 'songtable__sort')

                %tbody
                  - if @songs.empty?
                    %tr.songrow
                      %td{colspan: 4}
                        .songrow__titleline= t 'songs.no_songs'
                  - else
                    = render @songs

            .container
              %footer.songlist__foot
                .songlist__foot-left
                  Showing page
                  %strong= @songs.current_page
                  of
                  %strong= @songs.total_pages

                %nav.pager{"aria-label" => "Pagination"}
                  = link_to '&lt;'.html_safe, @songs.prev_page ? songs_path(request.query_parameters.merge(page: @songs.prev_page)) : '#', class: 'btn btn--nav', "aria-label" => "Previous page"
                  - (1..@songs.total_pages).each do |page|
                    - if page == @songs.current_page
                      = link_to page, '#', class: 'btn btn--nav is-current', "aria-current" => "page"
                    - else
                      = link_to page, songs_path(request.query_parameters.merge(page: page)), class: 'btn btn--nav'
                  = link_to '&gt;'.html_safe, @songs.next_page ? songs_path(request.query_parameters.merge(page: @songs.next_page)) : '#', class: 'btn btn--nav', "aria-label" => "Next page"

                .songlist__foot-right
                  = form_tag songs_path, method: :get, class: 'songlist__perpage' do
                    - request.query_parameters.except("per_page", "page").each do |key, value|
                      - if value.is_a?(Hash)
                        - value.each do |k, v|
                          - if v.present?
                            = hidden_field_tag "#{key}[#{k}]", v
                      - elsif value.present?
                        = hidden_field_tag key, value
                    %label
                      %span Show Per Page:
                      .select-shell
                        = select_tag :per_page, options_for_select([10, 25, 50, 100], (params[:per_page] || 50).to_i), "aria-label" => "Show per page", onchange: "this.form.submit()"
                        %span.arrow--down{"aria-hidden" => "true"}
