- if @song.image.present?
  = image_tag @song.image[:thumb].url, class: :thumb
%h2
  = @song.title
  - if user_signed_in?
    %small.edit= link_to fa_icon('pencil'), edit_admin_song_path(@song)

  %span.float-right
    %a.back-to-songs{ href: songs_path }
      = fa_icon('arrow-left')
      Songs
- if @song.alternate_title.present?
  %p= "[#{@song.alternate_title}]"
- if @song.composer.present?
  %p
    By
    - if @song.composer_url.present?
      = link_to @song.composer, @song.composer_url, target: :_blank
    - else
      = @song.composer
- if @song.description.present?
  = simple_format @song.description

.row
  = render @song.recordings

.row
  - if @song.lyrics.present?
    .col.lyrics
      %p
        %strong Lyrics
        = simple_format @song.lyrics, {}, sanitize: false

  - if @song.translation.present?
    .col.translation
      %p
        %strong Translation
        = simple_format @song.translation, {}, sanitize: false

  - if @song.chords.present?
    .col
      %p
        %strong Chords

      %pre
        #song-chords{ data: @song.chords.to_json }

      - @song.chord_forms.each do |chord_form|
        .chord-form{ data: { id: chord_form.id, chord: chord_form.chord, fingering: chord_form.fingering }}
