- if @song.image.present?
  = image_tag @song.image[:thumb].url, class: :thumb
%h2
  = @song.title
  - if user_signed_in?
    %span.float-right
      %small= link_to fa_icon('pencil'), edit_admin_song_path(@song)
- if @song.alternate_title.present?
  %p= "[#{@song.alternate_title}]"
- if @song.composer.present?
  %p
    By
    - if @song.composer_url.present?
      = link_to @song.composer, @song.composer_url, target: :_blank
    - else
      = @song.composer
- if @song.description.present?
  = simple_format @song.description

.row
  - @song.recordings.each do |recording|
    .col-sm-6
      .card.recording{ id: "recording-#{recording.id}"}
        - if recording.title.present?
          %h5.card-header= recording.title
        - if recording.embedded_player.present?
          .embed-responsive.embed-responsive-4by3
            = raw(recording.embedded_player)
        .card-body
          = simple_form_for BrokenLinkForm.new(), remote: true do |f|
            = button_tag type: :submit, class: 'btn report-broken-link' do
              = fa_icon('unlink')
            = f.input :nickname, as: :hidden
            = f.input :recording_id, as: :hidden, input_html: { value: recording.id }
          - if recording.url.present?
            %p= link_to recording.url, recording.url, class: 'card-link', target: :_blank
          - if recording.description.present?
            .card-text= simple_format recording.description



.row
  - if @song.lyrics.present?
    .col
      %p
        %strong Lyrics
        = simple_format @song.lyrics

  - if @song.translation.present?
    .col
      %p
        %strong Translation
        = simple_format @song.translation

  - if @song.chords.present?
    .col
      %p
        %strong Chords

      %pre
        #song-chords{ data: @song.chords.to_json }

      = javascript_pack_tag 'SongChords'

