%h2
  = @song.title
  - if user_signed_in?
    %span.float-right
      %small= link_to fa_icon('pencil'), edit_admin_song_path(@song)
- if @song.alternate_title.present?
  %p= "[#{@song.alternate_title}]"
- if @song.composer.present?
  %p
    By
    = link_to @song.composer, @song.composer_url, target: :_blank
- if @song.description.present?
  = simple_format @song.description

.row
  - @song.recordings.each do |recording|
    .col-sm-6
      .card.song
        - if recording.title.present?
          %h5.card-header= recording.title
        - if recording.embedded_player.present?
          .embed-responsive.embed-responsive-4by3
            = raw(recording.embedded_player)
        .card-body
          - if recording.url.present?
            %p= link_to recording.url, recording.url, class: 'card-link', target: :_blank
          - if recording.description.present?
            .card-text= simple_format recording.description

.row
  - if @song.lyrics.present?
    .col-sm-4
      %p
        %strong Lyrics
        = simple_format @song.lyrics

  - if @song.translation.present?
    .col-sm-4
      %p
        %strong Translation
        = simple_format @song.translation

  - if @song.chords.present?
    .col-sm-4
      %p
        %strong Chords

      %pre
        #song-chords{ data: @song.chords.to_json }

      = javascript_pack_tag 'SongChords'

