- if @song.image.present?
  = image_tag @song.image[:thumb].url, class: :thumb
%h2
  = @song.title
  - if user_signed_in?
    %span.float-right
      %small= link_to fa_icon('pencil'), edit_admin_song_path(@song)
- if @song.alternate_title.present?
  %p= "[#{@song.alternate_title}]"
- if @song.composer.present?
  %p
    By
    - if @song.composer_url.present?
      = link_to @song.composer, @song.composer_url, target: :_blank
    - else
      = @song.composer
- if @song.description.present?
  = simple_format @song.description

.row
  = render @song.recordings

.row
  - if @song.lyrics.present?
    .col
      %p
        %strong Lyrics
        = simple_format @song.lyrics

  - if @song.translation.present?
    .col
      %p
        %strong Translation
        = simple_format @song.translation

  - if @song.chords.present?
    .col
      %p
        %strong Chords

      %pre
        #song-chords{ data: @song.chords.to_json }

      = javascript_pack_tag 'song-chords'

