%h1
  = @song.title
  - if user_signed_in?
    %span.float-right
      %small= link_to fa_icon('pencil'), edit_admin_song_path(@song)
- if @song.alternate_title.present?
  %p
    %strong Alternate Title
    = @song.alternate_title
- if @song.composer.present?
  %p
    %strong Composer
    = @song.composer


- if @song.lyrics.present?
  %p
    %strong Lyrics
    = simple_format @song.lyrics

- if @song.lyrics.present?
  %p
    %strong Translation
    = simple_format @song.translation

- if @song.chords.present?
  %p
    %strong Chords

  %pre
    #song-chords{ data: @song.chords.to_json }

  = javascript_pack_tag 'SongChords'

- if @song.categories.present?
  %p Categories
  %ul
    - @song.categories.each do |category|
      %li= category.name

- if @song.categories.present?
  %p Languages
  %ul
    - @song.languages.each do |language|
      %li= language.name

%p Recordings
%ul
  - @song.recordings.each do |recording|
    %li
      %ul.recording-details
        - if recording.title.present?
          %li= recording.title
        - if recording.url.present?
          %li= recording.url
        - if recording.description.present?
          %li= recording.description
        - if recording.embedded_player.present?
          %li= raw(recording.embedded_player)


