= paginator.render do
  %nav.pager{"aria-label" => "Pagination"}
    = prev_page_tag
    - each_page do |page|
      - if page.display_tag?
        = page_tag page
      - elsif !page.was_truncated?
        = gap_tag
    = next_page_tag
