%h1 Contact Us
.row.contact-form
  .col-sm-6.offset-sm-3
    = simple_form_for @contact_form do |f|
      = f.input :name, required: false, label: false, placeholder: 'Name (optional)...'
      = f.input :email, required: false, label: false, placeholder: 'Email (optional)...'
      = f.input :subject, label: false, placeholder: 'Subject...'
      = f.input :message, as: :text, label: false, placeholder: 'Message...'
      = f.input :nickname, as: :hidden
      = f.submit 'Submit', class: 'btn btn-primary btn-block'
