%nav.navbar.navbar-expand.navbar-light.bg-light
  %a.navbar-brand{ href: '/'}
    = image_tag 'medicine-songs-logo.svg', size: '100x100'
    Medicine Songs
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Icaros', '/icaros', class: 'nav-link'
      %li.nav-item
        = link_to 'Quechua', '/quechua', class: 'nav-link'
      %li.nav-item
        = link_to 'Integration', '/integration', class: 'nav-link'
      %li.nav-item
        = link_to 'Learning Music', '/learning_music', class: 'nav-link'

    %ul.navbar-nav
      %li.nav-item
        = link_to 'Buy Songbook PDF', '/purchase', class: 'btn btn-primary'
        = link_to 'Make a Donation!', donations_path, class: 'btn btn-warning'
      %li.nav-item
        %a.nav-link{ href: admin_dashboard_path }= fa_icon('sign-in')
