%header.site-header.main-texture{"data-header" => ""}
  .container
    .header-inner
      %a.brand{href: "/", "aria-label" => "MedicineSongs.net Home"}
        .brand__logo
          = image_tag vite_asset_path('images/logo-dark.svg'), class: 'logo-img logo-dark', alt: 'MedicineSongs.net'
          = image_tag vite_asset_path('images/logo-light.svg'), class: 'logo-img logo-light', alt: 'MedicineSongs.net'

      #site-nav.nav-panel{"data-nav-panel" => ""}
        %nav.nav{"aria-label" => "Primary"}
          %ul.nav__list
            %li
              = link_to 'Song Search', '/songs', class: "nav__link #{active_link_class('/songs')}"
            %li
              = link_to 'About', '/about_us', class: "nav__link #{active_link_class('/about_us')}"
            %li
              = link_to 'Resources', '/resources', class: "nav__link #{active_link_class('/resources')}"
            %li
              = link_to 'Songbook', '/purchase', class: "nav__link #{active_link_class('/purchase')}"
            %li
              = link_to 'Support Us', '/donations', class: "nav__link #{active_link_class('/donations')}"
            -# %li
            -#   = link_to 'Icaros', '/icaros', class: "nav__link #{active_link_class('/icaros')}"
            -# %li
            -#   = link_to 'Quechua', '/quechua', class: "nav__link #{active_link_class('/quechua')}"

      .header-actions
        %button.nav-toggle.icon-btn{type: "button", "data-nav-toggle" => "", "aria-label" => "Toggle navigation", "aria-expanded" => "false"}
          .hamburger
            %span.hamburger__line
            %span.hamburger__line
            %span.hamburger__line
        %button.icon-btn{type: "button", "data-theme-toggle" => "", "aria-label" => "Toggle theme"}
          %div{"data-theme-icon" => ""}
            = image_tag vite_asset_path('images/sun.svg'), class: 'theme-img toggle-dark', alt: 'Light Mode'
            = image_tag vite_asset_path('images/moon.svg'), class: 'theme-img toggle-light', alt: 'Dark Mode'