%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{ href: '/'}
      = image_tag vite_asset_path('images/medicine-songs-logo.svg'), width: 100, height: 100
      Medicine Songs
    %button.navbar-toggler{"aria-controls" => "navbarContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarContent", :type => "button"}
      %span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to 'Icaros', '/icaros', class: 'nav-link'
        %li.nav-item
          = link_to 'Quechua', '/quechua', class: 'nav-link'

      %ul.navbar-nav.d-flex.gap-2
        %li.nav-item
          = link_to 'Buy Songbook PDF', '/purchase', class: 'btn btn-primary'
        %li.nav-item
          = link_to 'Make a Donation!', "https://www.paypal.com/ncp/payment/LGW7WS7S2NYHQ", class: 'btn btn-warning'
        - unless feature_enabled?(:hide_admin_login)
          %li.nav-item
            = link_to admin_dashboard_path, class: 'nav-link' do
              %i.fa-solid.fa-right-to-bracket
