!!!
%html
  %head
    = render 'layouts/google_analytics'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Medicine Songs
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_stylesheet_tag 'application'
    = vite_javascript_tag 'application'

  %body{ data: { controller: "confirm" }}
    = render 'layouts/navigation'
    - unless flash.empty?
      .row
        .col
          = render 'layouts/messages'

    .container.main
      = yield

    = render 'layouts/footer'
