!!!
%html
  %head
    = render 'layouts/google_analytics'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %title Medicine Songs
    = csrf_meta_tags
    = csp_meta_tag

    -# Favicons (served via Vite from app/frontend/images/favicon/*)
    %link{rel: "icon", type: "image/png", sizes: "96x96", href: vite_asset_path("images/favicon/favicon-96x96.png")}
    %link{rel: "icon", type: "image/svg+xml", href: vite_asset_path("images/favicon/favicon.svg")}
    %link{rel: "shortcut icon", href: vite_asset_path("images/favicon/favicon.ico")}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: vite_asset_path("images/favicon/apple-touch-icon.png")}
    %meta{name: "apple-mobile-web-app-title", content: "MedicineSongs.net"}
    %link{rel: "manifest", href: vite_asset_path("images/favicon/site.webmanifest")}
    
    -# Fonts
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{href: "https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,600;1,400&family=Cormorant+Upright:ital,wght@0,300;0,400;0,600;1,400&family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Alegreya+Sans+SC:wght@400;500;700&family=Alegreya:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Alegreya+SC:wght@400;500;700&display=swap", rel: "stylesheet"}
    
    -# Swiper (carousel)
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"}
    
    = yield :head

    = vite_client_tag
    = vite_stylesheet_tag 'application'
    = vite_javascript_tag 'application'

  %body{class: "theme-#{@theme}", data: { controller: "confirm" }}
    = render 'layouts/navigation'
    - unless flash.empty?
      .container
        .row
          .col
            = render 'layouts/messages'

    = yield

    = render 'layouts/footer'
    
    -# Swiper JS
    %script{src: "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"}