!!!
%html
  %head
    = render 'layouts/google_analytics'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Medicine Songs
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_importmap_tags
    = javascript_include_tag 'https://kit.fontawesome.com/51413862f8.js', crossorigin: :anonymous

  %body
    = render 'layouts/navigation'
    - unless flash.empty?
      .row
        .col
          = render 'layouts/messages'

    .container.main
      = yield

    = render 'layouts/footer'
